@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  width: 180px;
  border-radius: 42px;
  padding: 16px 10px 16px 10px;
  background: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  margin-right: 14px;
  cursor: pointer;
}

.btn-secondary {
  width: 180px;
  padding: 16px 10px 16px 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  color: rgb(255, 255, 255);
  background-color: black;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgb(24, 24, 24) 25%,
    rgb(34, 34, 34) 50%,
    rgb(17, 17, 17) 100%
  );
}
/* nav-bar */
.nav-bar {
  padding-top: 55px;
  width: 73.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.nav-bar h3 {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2.25rem;
  font-weight: 800;
  cursor: pointer;
  font-style: italic;
}

.nav-bar .nav-item {
  display: flex;
  gap: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 2px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
}

.nav-item #home {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  font-weight: bold;
}

.nav-item p {
  padding: 8px 20px 8px 20px;
  justify-content: center;
  cursor: pointer;
}

.menu {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 576px) {
  .nav-bar {
    width: 93%;
  }
  .menu {
    display: block;
  }

  .nav-bar .nav-item {
    display: none;
  }
}

/* navbar ends */

/* banner */
.banner {
  width: 73.5%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.banner-title {
  width: 400px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 28px;
  word-spacing: 1.2rem;
}

.banner-text {
  max-width: 630px;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shape {
  font-family: "Arizonia", cursive;
  font-weight: bolder;
}

.banner-text p {
  width: 380px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 28px;
  line-height: 1.6rem;
  text-align: justify;
}

.buttons {
  display: flex;
}

.banner-img {
  position: relative;
}

.banner-img img {
  /* position: absolute;
  right: -10px; */
}

.banner-img .workout-video {
  width: 160px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 5px;
  border: 2px solid red;
  padding: 17px 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 220px;
  top: 130px;
}

.banner-img .workout-video .workout {
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 0.8125rem;
  font-weight: 400;
}

.tutorial {
  width: 180px;
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  gap: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(4px);
  background: rgba(48, 48, 48, 0.54);
  padding: 20px 24px;
  z-index: 11;
  position: absolute;
  left: -75px;
  bottom: 65px;
}

.tutorial .tut {
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
}

.tutorial .circle {
  height: 2.5rem;
  width: 2.5rem;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}

@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column;
    justify-content: flex-start;
    width: 93%;
  }
  .banner-title {
    font-size: 3.25rem;
    width: 70%;
  }
  .banner-text {
    height: auto;
  }
  .banner-text p {
    width: 67%;
    font-size: 1.35rem;
    text-align: left;
  }
  #club {
    display: none;
  }
  .buttons {
    justify-content: space-between;
  }
  .banner-img .workout-video {
    top: 50px;
    left: 230px;
  }
  .tutorial {
    bottom: 245px;
    left: 40px;
  }
  .banner-img img {
    margin-left: 30px;
  }
  .banner-img .workout-video {
    font-size: 1.875rem;
    margin-bottom: 3px;
  }
  .banner-img .workout-video .workout {
    font-size: 0.625rem;
  }
  .tutorial .tut {
    font-size: 0.75rem;
  }
  .tutorial {
    font-size: 1.125rem;
  }
}

/* habit */
#habit-cont {
  padding-top: 100px;
  background-color: black;
  padding-bottom: 100px;
}
#habit {
  width: 73.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#habit h2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
#habit > p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 58px;
  width: 450px;
  text-align: center;
}

.card-cont h5 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 6px;
}
.card-cont p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
}

.card-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 576px) {
  #habit-cont {
    padding-top: 0;
  }
  #habit h2 {
    font-size: 2rem;
    margin-bottom: 14px;
  }
  #habit > p {
    width: 250px;
    line-height: 1.5rem;
  }
  .card-cont {
    grid-template-columns: 1fr;
  }
  .card {
    width: 270px;
  }
  .card-cont p {
    width: 70%;
  }
}
